
  body {
    background-color: #f5f5f5;
  }

  h1 {
    color: #d8d8d8;
    font-family: 'Big Shoulders Display', cursive;
    margin: auto;
    text-align: left;
    width: 12.5rem;
  }

  img {
    margin: 40px 70px 30px 50px;
  }

  p {
    color: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
    margin: 25px 50px 50px 50px;
    text-align: left;
    width: 12.5rem;

  }

  .big-container {
    background-color: white;
    margin: 12.5rem 1.87rem;
    padding: 10rem 12.5rem 10rem 13.75rem;
    position: relative;

  }

  .small-container1 {
    background-color: #FFA500;
    border-radius: 10px 0 0 10px;
    display: inline-block;
    height: 28.1rem;
    width: 18.8rem;
    position: relative;
    left: 3.9px;
  }

  .small-container2 {
    background-color: #008B8B;
    display: inline-block;
    height: 28.1rem;
    width: 18.8rem;
    position: relative;

  }

  .small-container3 {
    background-color: #004949;
    border-radius: 0 10px 10px 0;
    display: inline-block;
    height: 28.1rem;
    width: 18.8rem;
    position: relative;
    right: 3.9px;
  }

  .button {
    background-color: #d8d8d8;
    border-radius: 40px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 50px;
    padding: 0.8rem 2rem;
    text-decoration: none;

  }

  .button:hover {
    background-color: inherit;
    color: #d8d8d8;
    border: 2px solid #d8d8d8;
  }

  .small-container1 a {
    color: #FFA500;
  }

  .small-container2 a {
    color: #008B8B;
  }

  .small-container3 a {
    color: #004949;
  }

  .attribution {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    text-decoration: none;
  }
